* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background: lightblue;
}
.navbar-custom {
    background-color: lightgreen;
}
.navbar-custom a{
    color: white;
    background-color: lightgreen;
}

.navbar-nav > li > .dropdown-menu {
    background-color: lightgreen;
    color: white;
}

.footer {
    background-color: gray;
    position: relative;
    height: 20%;
    clear: none;
    padding-top:20px;
}

.container {
    background-color: lightgreen;
    color: white;
}
.about{
    padding-top:5%;
    text-align: center;
}

.img{
    float: left;
    margin: 2%
}