* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background: lightblue;
}

.padding{
    padding-left: 3cm;
    padding-right: 3cm;
}

.navbar-custom {
    background-color: lightgreen;
}
.navbar-custom a{
    color: white;
    background-color: lightgreen;
}


/*.navbar-nav > li > .dropdown-menu,*/
.dropdown-menu, .dropdown-menu a{
    background-color: lightgreen !important;
    color: white !important;
}

.footer {
    background-color: gray;
    position: relative;
    height: 20%;
    clear: none;
    padding-top:20px;
}

.button_grade{
    background-color: SaddleBrown !important;
    border-style: none !important;
}

.container {
    background-color: lightgreen;
    color: white;
}
.about{
    padding-top:5%;
    text-align: center;
}

.img{
    float: left;
    margin: 2%
}

.reg{
    float: right;
}

@media screen and (max-width: 480px) {
    .padding {
        padding: 10px;
    }
}