h1{
    padding-top: 5%;
    margin-left: 7%;
}

h3, .list{
    margin-left: 5%;
    background-color: antiquewhite;
}
.footer {
    background-color: gray;
    position: relative;
    height: 20%;
    clear: none;
    padding-top:20px;
}

.navbar-custom {
    background-color: lightgreen;
}
.navbar-custom a{
    color: white;
    background-color: lightgreen;
}

.navbar-nav > li > .dropdown-menu {
    background-color: lightgreen;
    color: white;
}