body{
    background-color: antiquewhite;
}

h1{
    padding-top: 8%;
    text-align: center;
    font-size: 10em;
}

h2{
    font-size: 2px;
}

h3, .list{
    margin-left: 5%;
    background-color: antiquewhite;
}
.footer {
    background-color: gray;
    position: relative;
    height: 20%;
    clear: none;
    padding-top:20px;
}

.navbar-custom {
    background-color: lightgreen;
}
.navbar-custom a{
    color: white;
    background-color: lightgreen;
}

.navbar-nav > li > .dropdown-menu {
    background-color: lightgreen;
    color: white;
}

.padding{
    padding-left: 3cm;
    padding-right: 3cm;
}

@media screen and (max-width: 800px) {
    .padding {
        padding: 10% 10% 1%;
    }
    .img{
        width: 20% !important;
        height: 20% !important;
        float: left;
        margin: 2%;
    }
}