body{
    color: cornflowerblue;
}

p{
    font-size: 130%;
}

h1{
    padding-top: 8%;
    text-align: center;
}

h2{
    font-size: 2px;
}

li{
    font-size: 120%;
}

h4 {
    font-size: 4px;
    font-weight: bold;
}

.footer {
    background-color: gray;
    position: relative;
    height: 20%;
    clear: none;
    padding-top:20px;
}

.navbar-custom {
    background-color: lightgreen;
}
.navbar-custom a{
    color: white;
    background-color: lightgreen;
}

.navbar-nav > li > .dropdown-menu {
    background-color: lightgreen;
    color: white;
}

.padding{
    padding-left: 3cm;
    padding-right: 3cm;
}

.images_raw{
    display: inline-flex;
}

.images {
    text-align: center;
    margin: 20px;
}

img{
    display: inline;
}

.col-sm-4{
    border-style: solid;
    border-color: gray;
}


.col-sm-3{
    border-style: solid;
    border-color: gray;
}
@media screen and (max-width: 800px) {
    .padding {
        padding: 10% 10% 1%;
    }
    .img{
        width: 20% !important;
        height: 20% !important;
        float: left;
        margin: 2%;
    }

    .col-sm-4{
        border-color: white;
    }
    .col-sm-3{
        border-color: white;
    }
}